# Игнорируем node_modules (они установятся через npm ci)
node_modules/

# Игнорируем файлы окружения (могут быть переопределены при запуске)
.env
*.env

# Игнорируем логи и временные файлы
*.log
tmp/
npm-debug.log*

# Игнорируем системные файлы
.DS_Store
.idea/
.vscode/

# Игнорируем Git-файлы
.git/
.gitignore